* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.hello {
  max-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.hello__wrapper {
  animation: displayFromLeft 500ms 4000ms linear forwards;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
}
.hello h1,
.hello p {
  font-size: 100px;
  font-weight: 600;
  margin: 0;
}
.hello p {
  opacity: 0;
}
.hello-first {
  padding-bottom: 150px;
  position: relative;
}
.hello-first p:nth-child(1) {
  max-height: 0;
  animation: appearanceAnimation 1000ms 0ms linear;
}
.hello-first p:nth-child(2) {
  max-height: 0;
  animation: appearanceAnimation 1000ms 1000ms linear;
}
.hello-first p:nth-child(3) {
  max-height: 0;
  animation: appearanceAnimation 1000ms 2000ms linear;
}
.hello-first p:nth-child(4) {
  max-height: 0;
  animation: appearanceAnimation 1000ms 3000ms linear;
}
.hello .hello-title {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hello .hello-title h1:nth-child(1) {
  transform: translateY(20%);
  opacity: 0;
  animation: textAppearenceUp 4000ms linear;
}
.hello .hello-title h1:nth-child(2) {
  margin-left: auto;
  transform: translateY(20%);
  opacity: 0;
  animation: textAppearenceUp 3700ms 300ms linear;
}
.hello .hello-title p {
  margin-left: 20px;
}
.hello .hello-title p:nth-child(1) {
  animation: appearanceAnimation 2000ms 4000ms linear;
  opacity: 0;
  text-transform: capitalize;
}
.hello .hello-title p:nth-child(2) {
  animation: appearanceAnimation 1600ms 4400ms linear;
  opacity: 0;
  text-transform: capitalize;
}
.hello .hello-title p:nth-child(3) {
  animation: appearanceAnimation 1200ms 4800ms linear;
  opacity: 0;
  text-transform: capitalize;
}
.hello-first {
  animation: displayBlock 4000ms linear;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
}
.hello-next {
  position: relative;
  width: 100%;
  padding: 0 0;
  text-align: center;
  animation: displayBlock 1000ms 4000ms linear forwards;
  max-height: 0px;
  height: 100%;
  overflow: hidden;
}
.hello-next p {
  color: #fff;
}
.hello-next .hello-title {
  position: relative;
  top: 150px;
  animation: appearanceAnimation 2000ms 4000ms linear;
  max-height: 0;
  opacity: 0;
}
.hello-next > p {
  position: relative;
  top: 150px;
  left: 0px;
  animation: appearanceAnimation 1000ms 6000ms linear;
  max-height: 0;
  opacity: 0;
}
.hello-last {
  padding: 100px 0;
  animation: lastBlockAnimation 0ms 7000ms linear forwards;
  max-height: 0;
  opacity: 0;
}
.hello-last__small-text {
  font-size: 40px !important;
  color: #646464 !important;
}
.hello-last p {
  text-align: left;
  opacity: 0;
  text-align: left;
  opacity: 0;
  text-align: left;
  opacity: 0;
}
.hello-last p:nth-child(1) {
  animation: lastBlockAnimation 1000ms 7000ms linear forwards;
}
.hello-last p:nth-child(2) {
  animation: lastBlockAnimation 1000ms 8000ms linear forwards;
}
.hello-last p:nth-child(3) {
  animation: lastBlockAnimation 1000ms 9000ms linear forwards;
}
.hello-last__wrapper {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hello-last__images {
  position: relative;
  width: 50%;
  height: auto;
}
.hello-last__images img:nth-child(1) {
  position: relative;
  right: -450px;
  transform: rotate(290deg) translateY(0%);
  opacity: 0;
  animation: rotateYellowSlice 1000ms 8000ms linear forwards;
}
.hello-last__images img:nth-child(2) {
  transform: rotate(270deg) scale(1);
  top: -20px;
  right: -170px;
  z-index: -2;
  position: absolute;
  opacity: 0;
  animation: lastBlockAnimation 300ms 9600ms linear forwards;
}
.hello-last__images img:nth-child(3) {
  transform: rotate(240deg) scale(0.9);
  top: 60px;
  right: -140px;
  z-index: -3;
  position: absolute;
  opacity: 0;
  animation: lastBlockAnimation 300ms 9900ms linear forwards;
}
.hello-last__images img:nth-child(4) {
  transform: rotate(210deg) scale(0.8);
  top: 140px;
  right: -110px;
  z-index: -4;
  position: absolute;
  opacity: 0;
  animation: lastBlockAnimation 300ms 10200ms linear forwards;
}
.hello .message {
  margin-top: 150px;
  opacity: 0;
  animation: lastBlockAnimation 0ms 9600ms linear forwards;
}
@keyframes rotateYellowSlice {
  0% {
    transform: rotate(450deg) translate(150%, 150%) scale(0);
  }
  100% {
    transform: rotate(290deg) translateY(0%) scale(1);
    opacity: 1;
  }
}
@keyframes displayFromLeft {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
    background: black;
  }
}
@keyframes displayBlock {
  0% {
    max-height: 0;
    padding: 0 0;
  }
  1% {
    max-height: 100%;
    padding: 200px 0;
  }
  100% {
    max-height: 100%;
    padding: 200px 0;
  }
}
@keyframes textAppearenceUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  10% {
    transform: translateY(0%);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}
@keyframes lastBlockAnimation {
  0% {
    opacity: 0;
  }
  100% {
    max-height: 100%;
    opacity: 1;
  }
}
@keyframes appearanceAnimation {
  0% {
    max-height: 0%;
    opacity: 0;
  }
  1% {
    max-height: 100%;
  }
  80% {
    opacity: 1;
  }
  100% {
    max-height: 0%;
    opacity: 0;
  }
}
@keyframes glitch {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
  }
}
.hero {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 3px);
}
.demo {
  height: 100px;
  background: #fff;
}
.layers {
  position: relative;
}
.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}
.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}
.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}
.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}
.paths {
  animation: paths 5s step-end infinite;
}
@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }
  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }
  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }
  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }
  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }
  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}
.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}
@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}
.opacity {
  animation: opacity 5s step-end infinite;
}
@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}
.font {
  animation: font 7s step-end infinite;
}
@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}
.glitch span {
  animation: paths 5s step-end infinite;
}
.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}
.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}
